body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 4px;
}

body {
  color: #fff;
  background: #141414;
}

.icon-img {
  width: 20px;
  height: 20px;
}

.spinner-border {
  margin-left: 60px;
}